.notification-items {
  position: relative;
  border: 3px dashed #e1003c;
  padding: 8px 12px;
}

.notification-items p {
  margin: 0;
}

.notification-items ul {
  margin: 10px 0 0;
  padding-left: 20px;
}

.notification-items li {
  margin-bottom: 4px;
}

.notification-items li[data-priority="default"] {
  color: blue;
}

.notification-items li[data-priority="urgent"] {
  color: red;
}
