.App-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-bottom: 3px solid #e1003c;
  color: #e1003c;
}

.App-header img {
  width: 200px;
}

.App-header h1 {
  font-size: 2rem;
  margin: 0;
}
